/* CSS */
body{
    background-color: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.contenedor-logo{
    margin-top: 1em;
}

.derecha{
    background-color: white;
    width: 350px;
    height: 944px;
    float: right;
    margin: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    background: white;
}

.imagen-muneco{
    margin: 0 auto;
    width: 250px;
    height: 304px;
    margin-top: 50%;
}

.imagen-muneco>img{
    width: 250px;
}

.parrafo{
    margin: 0 auto;
    width: 336px;
    height: 122px;
}

.parrafo>h1{
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: 700;
    color: #343A40;
}
.parrafo>p{
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    font-weight: 400;
    color:#495057;
    ;
}

.principal{
    float: left;
    display: block;
    height: 900px;
    width: 577px;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.texto{
    height: 800px;
}

.texto>input{
    font-size: larger;
    font-weight: 400;
    line-height: 48px;
    width: 90%;
    margin: 1em;
    color: #0A3871;
}

.botones{
    background-color: aliceblue;
}

.botones>button{
    float: left;
    width: 45%;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    color: rgb(31, 76, 153);
}

